{% extends "layout.html" %}
{% block page_content %}
    <div class="appos_data">
        <form method="POST" class=appointment_zone>
            {{ patient_creation_form.hidden_tag() }}
            <div class="form">
            <p>Hasta bilgileeriniz seciniz.<br></p>
            </div>

            <div class="form">
                {{ patient_creation_form.p_name.label }}<br>
                {{ patient_creation_form.p_name(class_="form_textbox") }}
            </div>

            <div class="form">
                {{ patient_creation_form.p_last_name.label }}<br>
                {{ patient_creation_form.p_last_name(class_="form_textbox") }}
            </div>

            <div class="form">
                {{ patient_creation_form.p_tc.label }}<br>
                {{ patient_creation_form.p_tc(class_="form_textbox") }}
            </div>

            <div class="form">
                {{ patient_creation_form.p_bdate.label }}<br>
                {{ patient_creation_form.p_bdate(class_="form_textbox") }}
            </div>

            <div class="form">
                {{ patient_creation_form.p_phone.label }}<br>
                {{ patient_creation_form.p_phone(class_="form_textbox") }}
            </div>

            <div class="form">
                {{ patient_creation_form.p_address.label }}<br>
                {{ patient_creation_form.p_address(class_="form_textbox") }}
            </div>

{#            <div class="form">#}
{#                {{ patient_creation_form.username.label }}<br>#}
{#                {{ patient_creation_form.username(class_="form_textbox") }}#}
{#            </div>#}
{##}
{#            <div class="form">#}
{#                {{ patient_creation_form.user_password.label }}<br>#}
{#                {{ patient_creation_form.user_password(class_="form_textbox") }}#}
{#            </div>#}

            <br><br>
            <br>{{ patient_creation_form.submit_button(class_="submit_button") }}
            <br/>

        </form>
        <style>
            .alert{
                opacity: 1;
                transition: opacity 0.6s;
            }
        </style>



            <div class="alert">
                <span class="closebutton" onclick="hideAlert()" >&times;</span>
                <script>
                    var close = document.getElementsByClassName("closebutton");
                    var i;

                    for (i=0; i<close.length; i++){
                        close[i].onclick = function hideAlert(){
                            $('#onclick-event').html("");
                            var div =  this.parentElement;
                            div.style.opacity = "0";
                            setTimeout(function (){div.style.display = 'none'; },300)
                        }
                    }
                </script>

            {%  with messages=get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category,message in messages %}
                            <div class="{{ category }}">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
    </div>
{% endblock %}